<div class="card">
  <div class="card__body">
    <div class="empty-state">
      <div class="empty-state__content">
        <div class="empty-state__title">
          <h2 class="mb-48">The Deed Fund</h2>
        </div>

        <div class="empty-state__description">
          <p class='mb-24'>You don't need money to display kindness.</p>
          <p class='mb-24'>However, larger deeds can require larger resources.</p>
          <p class='mb-24'>Sponsor a deed for a fellow dogooder.</p>
          <p class='mb-24 color-gray-light italic'>Coming Soon - deposit bitcoin through the Lightning network.</p>
        </div>

        <div class="empty-state__buttons mb-48">
          <%= link_to 'go back to deeds', deeds_path, class: 'button button--large button--color-blue', data: { turbolinks: false } %>
        </div>

      </div>



      <div class="empty-state__image"><%= image_tag '/deeds/donate-money.png', alt: 'Donate Money' %></div>
    </div>
  </div>
</div>
