<h1>Howdy Kind Stranger!</h1>
<div id="profile-stats"></div>

<div class="mt-48"></div>
<h2>My Deeds In Progress</h2>
<div id="profile-deeds-in-progress"></div>

<h2>Completed Deeds</h2>
<div class="profile-deeds-completed"></div>
<%= link_to 'See More', deeds_path, class: 'button button--large button--color-blue', data: { turbolinks: false } %>
<%= link_to 'Create a Custom Deed', new_deed_path, class: 'button button--large' %>

<%= render "shared/render_profile_feed" %>

<script type="text/javascript">
</script>
