<h1>Howdy Kind Stranger!</h1>

<div class="card callout--shadow">
  <div class="card__body">
    <h5>Your Activity</h5>
    <div class="row">
      <div class="col-sm-4">
        <div class="callout callout--color-primary no-pointer">
          <h1 id='user-deeds-completed'>5</h1>
          <p>
            <strong>Deeds Completed</strong><br>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="callout callout--color-primary no-pointer">
          <h1 id='user-deeds-in-progress'>2</h1>
          <p>
            <strong>Deeds in Progress</strong><br>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="callout callout--color-primary no-pointer">
          <h1 id='user-funds-raised'>$45</h1>
          <p>
            <strong>$ Raised</strong><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-48"></div>
<h2>My Deeds In Progress</h2>
<div id="profile-deeds-in-progress"></div>

<h2>Completed Deeds</h2>
<div class="profile-deeds-completed"></div>
<%= link_to 'See More', deeds_path, class: 'button button--large button--color-blue', data: { turbolinks: false } %>
<%= link_to 'Create a Custom Deed', new_deed_path, class: 'button button--large' %>

<%= render "shared/render_profile_feed" %>

<script type="text/javascript">
</script>
