<div class="empty-state empty-state--no-gutter">
  <div class="empty-state__content">
    <div class="empty-state__title">
      <h2>But.. why?</h2>
    </div>

    <div class="empty-state__description">
      <p>We spend our lives in tiny bubbles.</p>
      <p class='color-black'>Eat, sleep, work, repeat.</p>
      <p>What's the glue sustaining this routine over time?</p>
      <p class='color-black'>It's kindness. And the human spirit.</p>

      <p class='color-orange'>Now you can be more thoughtful about applying it.</p>

      <p><span class='color-black'>Help a Stranger Out</span> helps us be more intentional about showing kindness to strangers.</p>
      <p class=''>As Ronald Reagan said, <span class='color-orange'>"We can’t help everyone, but <span class='font-weight-500'>everyone</span> can help <span class='font-weight-500'>someone</span> </span>."</p>
      <p class='force-mb-48'>All it takes is one tiny act to change the world.</p>
    </div>
    <div class="empty-state__buttons">
      <%= link_to 'inspire me', inspire_me_path, class: 'button button--large' %>
    </div>
  </div>

  <div class="empty-state__image"><img src="/marginalia-friends.png"></div>
</div>
