<div class="col-sm-3">
  <div class="no-pointer callout callout--color-<%= color %> callout--shadow">
    <h1 class="mt-0 mb-0 fs-alpha stat" data-type="<%= id %>"><%= number_with_delimiter(value) %></h1>
    <h3 class="mt-0 mb-0 fs-delta"><%= title %></h3>
  </div>
</div>
