<div class="form__item">
  <div class="form__wrapper">
    <div class="form__input-wrapper">
      <input id="<%= id %>" type="text" name="<%= id %>" class="form__input">
      <label for="<%= id %>" class="form__label"><%= label %></label>
    </div>
  </div>
</div>
