<form class="form">
  <div class="form__item">
    <div id="form_dropdown" class="form-dropdown">
      <label for="form_dropdown" class="form-dropdown__label"><%= label %></label>
      <input id="form_dropdown" type="text" name="form_dropdown" class="form-dropdown__input" >
      <div class="form-dropdown__text"><%= placeholder %></div>
      <div class="form-dropdown__icon">
        <svg viewBox="0 0 24 24">
          <path fill="#000000" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path>
        </svg>
        <svg viewBox="0 0 24 24">
          <path fill="#000000" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path>
        </svg>
      </div>
      <div class="form-dropdown__content">
        <ul class="form-dropdown__menu">
          <% items.each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</form>
