<div class="form__item">
  <div class="toggle toggle--label is-checked">
    <div class="toggle__button">
      <input type="checkbox" id="<%= id %>" class="toggle__input">
      <label class="toggle__label" for="<%= id %>"><%= label %></label>
    </div>
  </div>
</div>
