{{#deeds}}
  <div class="card" data-deed="{{id}}">
    <div class="card__body">
      <h3 data-title="{{id}}">{{title}}</h3>
      <div class="row">
        <div class="col-md-4 callout--shadow">
          <div class="empty-state__image">
            <img src="/deeds/{{thumbnail}}.png" alt="{{thumbnail}}" class="empty-state__image" data-thumbnail="{{thumbnail}}">
          </div>
        </div>
        <div class="col-md-8 pl-24 position-relative">
          <div class="empty-state__description">
            <p data-description="{{id}}">{{{description}}}</p>
          </div>
          <div class="card__footer pl-0 mt-12 italic">
            <p>
              <span class='color-green'><span data-count-completed="{{id}}">{{count_completed}}</span> Completed</span>
              <span class="color-gray-light">|</span>
              <span class='color-gray'><span data-count-in-progress="{{id}}">{{count_in_progress}}</span> In Progress</span>
            </p>
          </div>
          <div class="position-bottom-left">
            <div class="smile-button">
              <span class="ml-6 icons-item icon-profile cursor-pointer color-orange vertical-middle"></span>
              <span class="icons-text">smile</span>
              <span class='color-orange' data-count-smiles-given="{{id}}">{{count_smiles_given}}</span>
            </div>
          </div>
          <div class="mt-48 position-bottom-right row">
            <div class="donate-button">
              <span class="ml-6 icons-item icon-budget cursor-pointer color-green"></span>
              <span class="icons-text">give $ to Smile Fund</span>
            </div>
            <div class="copy-deed-button">
              <span class="icons-item icon-plus cursor-pointer color-blue"></span>
              <span class="icons-text">add to My Deeds</span>
            </div>
              <div class="remove-deed-button">
                <span class="icons-item icon-remove cursor-pointer color-red"></span>
                <span class="icons-text">remove from My Deeds In Progress</span>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-48"></div>
  </div>

{{/deeds}}
