<div class="card callout--shadow">
  <div class="card__body">
    <h5>Your Activity</h5>
    <div class="row">
      <div class="col-sm-4">
        <div class="callout callout--color-primary no-pointer">
          <h1 id='user-deeds-completed'>{{deeds_completed}}</h1>
          <p>
            <strong>deeds completed</strong><br>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="callout callout--color-primary no-pointer">
          <h1 id='user-deeds-in-progress'>{{deeds_in_progress}}</h1>
          <p>
            <strong>deeds in progress</strong><br>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="callout callout--color-primary no-pointer">
          <h1 id='user-funds-raised'>${{funds_needed}}</h1>
          <p>
            <strong>total estimated costs</strong><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
